/* Config pagina */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
}



body{
    max-width: 100%;
    overflow-x: hidden;
}

// HEADER //


.headercontainer{
        /* personalizacion logo */
        background-image: url(https://cdn.pixabay.com/photo/2021/01/16/11/13/dogs-5921796_960_720.png);
        background-color: rgb(128, 237, 153);
        background-size: contain;
        background-repeat: no-repeat;
        background-position:left; 
             
}

// MAIN //

.title{
    background-color: rgb(34, 87, 122);
    padding: 25px;
    width: 100%;
    text-align: center;
       .diseniotitulo{
        text-decoration:overline;
       
       }
}
#coloraz{
    background-color: rgb(34, 87, 122);
}

.colorletras{
    color: white;
}


h1{
    animation-duration: 10s;
    animation-name: aparecer;
    animation-iteration-count: infinite;
    @keyframes aparecer{
        0%{
            opacity: 0;
    
        }
        100%{
            opacity: 1;
        }
    }
}

.title{
    padding: 25px;
    width: 100%;
    text-align: center;
    .diseniotit{
        text-decoration:underline;
       
    }
}

.card{
    padding: 10px;
    margin: 20px;
    
}

.tamcard{
    height: 550px;
}


.scroll {
    max-height: 400px;
    overflow-y: auto;
}

.bordercolor{
    background-color: rgb(199, 249, 204);
    align-items: center;
   
}

 .flex{
    display: flex;
    justify-content:center;
    
    
   
}



// FOOTER //

.colorfooter{
    background-color: rgb(128, 237, 153);
    
        
} 
.disenioicon{
    padding: 20px;
    align-items: center;
    .icons{
        width: 100px;
    height: 40px;
    }
}
.margfo{
    margin-top: 50px;
    .titulofooter{
        text-align: center;
        margin-top: 10px;
        height: 100px;
        .diseniofrase{
            margin: 5px;
             padding: 5px; 
            text-align: center;
        }
    }
}


.diseniodesign{
    padding: 5px;
    text-align: center;
    margin-top: 40px;
}

.color-insta{
    color: rgb(225 48 108);
}

.color-fb{
    color: rgb(66 103 178);
}

.color-yt{
    color: rgb(255 0 0);
}
 