/* Config pagina */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
}

// Variables //
$color-nav: rgb(198, 212, 255);
$color-footer: rgb(159,93,52);

#fondobody{
    background-image: url(https://img.freepik.com/vector-gratis/fondo-lunares-vector-diseno-estetico_53876-143523.jpg?w=2000);
}
// HEADER //
.headercontainer{
        /* personalizacion logo */
        background-image: url(../img/dogs-5921796_960_720.webp);
        background-color: $color-nav;
        background-size: contain;
        background-repeat: no-repeat;
        background-position:left; 
        height: 80px; 
        
    
}

// MAIN //

.title{
    padding: 25px;
    width: 100%;
    text-align: center;
       .diseniotitulo{
        text-decoration:overline;
       
       }
}

h1{
    animation-duration: 10s;
    animation-name: aparecer;
    animation-iteration-count: infinite;
    @keyframes aparecer{
        0%{
            opacity: 0;
    
        }
        100%{
            opacity: 1;
        }
    }
}

.title{
    padding: 25px;
    width: 100%;
    text-align: center;
    .diseniotit{
        text-decoration:underline;
        h2{

        }
    }
}

.card{
    padding: 10px;
    margin: 20px;
}

.bordercolor{
    background-color: $color-nav;
    align-items: center;
   
}

 .flex{
    display: flex;
    justify-content:center;
    
   
}

// FOOTER //

.colorfooter{
    background-color: $color-footer;
    
        
} 
.disenioicon{
    padding: 20px;
    align-items: center;
    .icons{
        width: 100px;
    height: 40px;
    }
}
.margfo{
    margin-top: 50px;
    .titulofooter{
        text-align: center;
        margin-top: 10px;
        height: 100px;
        .diseniofrase{
            margin: 5px;
             padding: 5px; 
            text-align: center;
        }
    }
}


.diseniodesign{
    padding: 5px;
    text-align: center;
    margin-top: 40px;
}

