.bgform{
    background-color: rgb(199, 249, 204);
}

.marginubi{
     margin-top: 50px;
}

.margfo{
    margin-top: 50px;
    
}

.bgubi{
    background-color: rgb(56, 163, 165);
}

.widthmap{
    iframe{
        width: 70%;
        
    }
}

.color-text{
    color: white;
}

.margintransito{
    margin-top: 50px;
}