

// DISEÑO CARD //

#fondobody{
    background-image: url(https://img.freepik.com/vector-premium/fondo-patron-puntos-colores-lunares-sobre-fondo-blanco_391563-183.jpg);
}
.flex-q{
    display: flex;
    flex-direction: column;
    justify-content: center;
    .imgq{
        margin-top: 10px;     
    }   
}

.flex2{
    display: flex;
    
    justify-content: center;    
}










