

// DISEÑO CARD //


.flex-q{
    display: flex;
    flex-direction: column;
    justify-content: center;
    .imgq{
        margin-top: 10px;     
    }   
}

.flex2{
    display: flex;
    
    justify-content: center;    
}










