

// DISEÑO CARD //


.flex-q{
    display: flex;
    flex-direction: column;
    
    
    .imgq{
        margin-top: 2px;     
    }   
}

.flex2{
    display: flex;
    justify-content: center;
    justify-items: center;    
}

.cardq{
    padding: 10px;
    margin: 20px;
    height: 550px;
}












